In [152]:
import seaborn as sns
import pandas as pd
import missingno as mno
import matplotlib.pyplot as plt

# Frage 8 - Fehlende Daten

In [ ]:
df = sns.load_dataset("titanic")

# Frage 10 - Gruppierung

In [49]:
df = sns.load_dataset("mpg")

# Frage 11 - BoxPlot

In [95]:
df = sns.load_dataset("mpg")

# Frage 12 - Scatterplot

In [96]:
df = sns.load_dataset("mpg")

# Frage 13 - Imputation

In [150]:
from sklearn.preprocessing import Imputer  # muss nicht zwingend verwendet werden! Achtung: 2D erwartet
df = sns.load_dataset("mpg")

In [151]:
print("Dies ist die Antwort: {}".format(round(df[round(df.horsepower, 8)==round(df.horsepower.mean(), 8)].weight.mean(), 4)))

Dies ist die Antwort: nan

# Frage 14 - Join (merge)

In [167]:
df1 = pd.DataFrame([[1,'A1', 2700], [2, 'A2', 2900], [3, 'A1', 2600], [4, 'A2', 2500], [5, 'A2', 2300], [6, 'A2', 2100], [7, 'A1', 2500], [8, 'A2', 2900]], 
                   columns=['Mitarbeiter', 'Abteilung', 'Gehalt'])
df1

   Mitarbeiter Abteilung  Gehalt
0            1        A1    2700
1            2        A2    2900
2            3        A1    2600
3            4        A2    2500
4            5        A2    2300
5            6        A2    2100
6            7        A1    2500
7            8        A2    2900

In [168]:
df2 = pd.DataFrame([['A1', 1.23576], ['A2', 1.34576]], columns={'Abteilung', 'Faktor'}).set_index('Abteilung')
df2

            Faktor
Abteilung
A1         1.23576
A2         1.34576

In [187]:
# hier einen inner join programmieren und in df_merged ablegen
df_merged =

In [188]:
df_merged['ERGEBNIS'] = df_merged['Gehalt'] * df_merged['Faktor']
print("Das Ergebnis (für A2) ist: {}".format(df_merged.groupby('Abteilung').ERGEBNIS.median()[1]))

Das Ergebnis (für A2) ist: 0

# Frage 15 - Pipeline: StandardScaler und Lineare Regression

In [228]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

df = sns.load_dataset("mpg")
df.dropna(inplace=True)
X = df.iloc[:, 1:6]
y = df.iloc[:, 0]

In [229]:
# hier die pipeline "pipeline" definieren

# hier die pipeline trainieren

In [230]:
print("Das Ergebnis ist: {}".format(round(pipeline.named_steps['linearregression'].coef_[2], 4)))

Das Ergebnis ist: 0

# Frage 16 - Pipeline: StandardScaler und Decision Tree

In [252]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

df = sns.load_dataset("mpg")
df.dropna(inplace=True)
X = df.iloc[:, 0:6]
y = df.iloc[:, 7]

In [251]:
# train-test split anlegen (Variablen: X_train, X_test, y_train, y_test) 
# ACHTUNG: setzen Sie den Parameter random_state beim Split auf 0 (random_state=0)

# pipeline definieren: Skalierung + Entscheidungsbaum


# dies hier bitte nicht verändern
pipeline = pipeline.fit(X_train, y_train)

# ACHTUNG: FALLS IHR ERGEBNIS NICHT ANGEZEIGT WIRD, BITTE DIESE ZELLE UND DIE NÄCHSTE NOCHMAL AUSFÜHREN

In [253]:
print("Das Ergebnis ist: {}".format(round(pipeline.score(X_test, y_test), 4)))

Das Ergebnis ist: 0

# Frage 17 - Clustering

In [268]:
from sklearn.cluster import KMeans

df = sns.load_dataset("mpg")
df.dropna(inplace=True)
X = df.iloc[:, 0:6]

example_car = [[14, 8, 455, 225, 4425, 10]]

In [269]:
# train a k-means model with k=3


# find the cluster number of the example_car defined above